doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css')
        link(rel="stylesheet", href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css")
    body
        div(class="ui fluid container")
            div(class="ui basic segment")
                div(class="ui top attached segment")
                    h3(class="ui header") User Login
                    //div(class="ui top attached tabular menu")
                    //    div(class="active item", data-tab="login") Login
                    //    div(class="item", data-tab="results" ) Results
                    //div(data-tab="login", class="ui attached active tab segment")
                    div(data-tab="login", class="ui segment")
                        div(class="ui fluid form", id="signInForm")
                            div(class="two fields")
                                div(class="field")
                                    label User Name
                                    input(placeholder="Email Address", name="username", type="email")
                                div(class="field")
                                    label Password
                                    input(placeholder="Password", name="password", type="password")
                            div(class="ui secondary submit button") Sign In
                            div(class="ui error message")
                    //div(data-tab="results", class="ui attached tab segment")
                div(class="ui top attached segment")
                    h3(class="ui header") User Data
                    div(class="ui form")
                        div(class="inline fields")
                            div(class="field")
                                div(class="ui checkbox")
                                    input(type="checkbox", id="igD")
                                    label Ignore Donuts
                            div(class="field")
                                div(class="ui checkbox")
                                    input(type="checkbox", id="cb")
                                    label Crystal Ball
                            div(class="field")
                                div(class="ui checkbox")
                                    input(type="checkbox", id="igC")
                                    label Ignore CC Payments


                    div(data-tab="results", class="ui segment")
                        table(id="resultsTable", class="dataTable stripe", style="width : 100%")
                            thead
                                tr
                                    th() Date
                                    th() Total Transactions
                                    th() Spent
                                    th() Income
                                    th() Average Transaction Value
                            tfoot
                                tr
                                    th() Date
                                    th() Total Transactions
                                    th() Spent
                                    th() Income
                                    th() Average Transaction Value
                            tbody

                div(class="ui top attached segment")
                    h3(class="ui header") Filtered CC Records
                    div(data-tab="results", class="ui segment")
                        table(id="ccTable", class="dataTable stripe", style="width : 100%")
                            thead
                                tr
                                    th() Transaction Id
                                    th() Transaction Time
                                    th() Merchant
                                    th() Categorization
                                    th() Amount
                                    th() Account Id
                            tfoot
                                tr
                                    th() Transaction Id
                                    th() Transaction Time
                                    th() Merchant
                                    th() Categorization
                                    th() Amount
                                    th() Account Id
                            tbody
    footer
        script(type="text/javascript", src="//code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js")
        script(type="text/javascript", src="//cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js")
        script(type="text/javascript", src="//cdn.datatables.net/plug-ins/1.10.13/sorting/datetime-moment.js")
        script(type="text/javascript", src="/javascripts/capitol.js")


