body {
  /*padding: 10px !important;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee !important;
}

a {
  color: #00B7FF;
}


.cell_center {
  text-align: center;
}
.cell_right {
  text-align: right;
}

.cell_left {
  text-align: left;
}

td.details-control {
  background: url('/images/fa-caret-down.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/images/fa-caret-up.png') no-repeat center center;
}

td.bolded {
  font-weight: bold;
}